{% extends 'App/base.html' %}

{% load static %}

{% block title %}
    crear usuarios
{% endblock title %}

{% block codigoDinamico %}

<link rel="stylesheet" href="{% static 'App/style.css' %}">
<div class="container text-center">

    <form action="" method="post">{% csrf_token %}
        <br>
        <h3>CREAR UN NUEVO USUARIO</h3>
        <br>
        <br>
        <br>
        <table class='input'>
            {{form.as_table}}
        <br>
        <br>
        </table> <br> <br>
        <div class = "container"> 
            <button type="submit" class="input_btn btn btn-outline-primary">CREAR</button>
        </div>
    </form>
</div>

{% endblock %}