{% extends "App/base.html" %}

{% load static %}

{% block title %}
    EMPLEADOS
{% endblock title %}

{% block codigoDinamico %}
<link rel="stylesheet" href="{% static 'App/style.css' %}">
<div form class = "recuadro_etiquetas" transition-style = 'in:square:center'>
<div class="container">
    <h3>NUESTROS EMPLEADOS:</h3>
    <br>
    {% for Empleados in empleados %}
        <div class="container" transition-style = 'in:square:center'>
            <table class="table table-dark">
                <tbody>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefono</th>
                    <tr class="table-active">
                        <td>{{Empleados.id}}</td>
                        <td>{{Empleados.nombre_empleado}}</td>
                        <td>{{Empleados.email_empleado}}</td>
                        <td>{{Empleados.telefono_empleado}}</td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class = 'text-center'> 
                <button type="button" class="btn btn-outline-primary">
                    <a href="{% url 'CREAR_EMPLEADOS' %}">Crear</a>
                </button>
                &nbsp; &nbsp;&nbsp;
                <button type="button" class="btn btn-outline-primary ml-3"> 
                    <a href="{% url 'BUSCAR_EMPLEADOS' %}">Buscar</a>
                </button>
                &nbsp; &nbsp;&nbsp;
                <button type='button' class='btn btn-outline-primary'>
                    <a href="{% url 'ACTUALIZAR_EMPLEADO' Empleados.id %}">Actualizar</a>
                </button>
                &nbsp; &nbsp;&nbsp;
                <button type='button' class='btn btn-outline-primary'>
                    <a href="{% url 'ELIMINAR_EMPLEADOS' Empleados.id %}">Eliminar</a>
            </div>
        </div>
        <br>
    {% endfor %}
</div>

{%endblock%}